@import "./../../custom.scss";

.home-container {
    padding-left: 20%;
    padding-right: 20%;
    .welcome-text {
        font-weight: 800;
    }
    .slide-col{
        max-height: 300px;
        height: 300px;
        overflow: hidden;
    }
}