@import "./custom.scss";

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
 
}
 

  
@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
